/* ---------- Left Image Section ---------- */
.login__img {
    width: 60%;
    text-align: center;
}
.login__img img {
    width: 70%;
    object-fit: contain;
}

/* ---------- Login Form Section ---------- */
.login__form {
    width: 40%;
    padding: 50px;
    background: var(--secondary-color);
    position: relative;
}
.login__container {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    margin-top: 100px;
}
.login__container .user {
    width: 80px;
    height: 80px;
    position: absolute;
    top: -9%;
    left: 50%;
    transform: translate(-50%, -9%);
}
.login__form .user img {
    width: 100%;
}

.login__form h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 2rem;
}

/* ---------- Input Styling ---------- */
.login__form input {
    width: 100%;
    padding: 0.6rem 1rem;
    border-radius: 6px;
    border: none;
    font-size: 1rem;
    color: var(--heading-color);
}
.login__form input:focus {
    outline: none;
}

/* ---------- Main Login Button ---------- */
.auth__btn {
    background: var(--heading-color) !important;
    width: 100%;
    color: #fff !important;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all .3s ease;
}
.auth__btn:hover {
    background: #23c483 !important;
}

/* ---------- Admin / User Toggle Buttons ---------- */
.login-toggle-btns button {
    font-size: 12px;
    padding: 0.5rem 1.2rem;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    transition: 0.3s;
}

/* Active Button */
.login-toggle-btns .active-user {
    background: var(--heading-color);
    border-color: transparent;
}
.login-toggle-btns .active-admin {
    background: #b22222; /* Dark Red */
    border-color: transparent;
}

/* Hover Effects */
.login-toggle-btns button:hover {
    transform: translateY(-3px);
}

/* ---------- Link Style ---------- */
.login__form p {
    font-size: .9rem;
    color: #fff;
    margin-top: 1.5rem;
    text-align: center;
}
.login__form p a {
    color: var(--heading-color);
    text-decoration: none;
    font-weight: 600;
}

/* ---------- Responsive (Mobile) ---------- */
@media (max-width: 992px) {
    .login__container {
        flex-direction: column;
        margin-top: 50px;
    }
    .login__img, .login__form {
        width: 100%;
    }
    .login__img img {
        width: 60%;
    }
}
